.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1001;
}

.modal-content {

	display: flex;
	align-items: center;
	flex-direction: column;
	width: 80%;
	background-color: #F8F5D2;
	padding: 40rpx;
	/* 转换为 rpx */
	border-radius: 20rpx;
	/* 转换为 rpx */
	box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.2);
	/* 转换为 rpx */
}

.modal-header {
	font-size: 36rpx;
	/* 转换为 rpx */
	font-weight: bold;
	margin-bottom: 30rpx;
	/* 转换为 rpx */
}

.modal-body {
	margin-bottom: 30rpx;
	/* 转换为 rpx */
}

.input {
	width: 90%;
	padding: 20rpx;
	background-color: #F2F5DF;
	/* 转换为 rpx */
	border: 1rpx solid #ccc;
	/* 转换为 rpx */
	border-radius: 10rpx;
	/* 转换为 rpx */
	font-size: 28rpx;
	/* 输入框字体大小 */
}

.modal-footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn {
	padding: 20rpx 40rpx;
	/* 转换为 rpx */
	border: none;
	border-radius: 10rpx;
	/* 转换为 rpx */
	cursor: pointer;
	background-color: #014520;
	color: white;
	font-size: 28rpx;
	/* 转换为 rpx */
}

.btn:active {
	background-color: #014520;
}