.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1001;
}

.modal-content {
	width: 600rpx;
	/* 80% 的宽度可以用 rpx 表示 */
	background-color: #fff;
	padding: 40rpx;
	/* 改为适当的 rpx 值 */
	border-radius: 20rpx;
	/* 圆角调整为适合小程序的 rpx */
	box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.2);
	/* 阴影也调整为 rpx */
}

.modal-header {
	font-size: 36rpx;
	/* 调整标题字体大小 */
	font-weight: bold;
	margin-bottom: 30rpx;
	/* 间距调整为适当的 rpx 值 */
}

.modal-body {
	margin-bottom: 30rpx;
}

.input {
	width: 90%;
	padding: 20rpx;
	border: 1rpx solid #ccc;
	/* 边框宽度改为 rpx */
	//border-radius: 10rpx;
	/* 边框圆角调整 */
	font-size: 28rpx;
	/* 输入框字体大小 */
}

.modal-footer {
	display: flex;
	justify-content: space-between;
}

.btn {
	padding: 20rpx 40rpx;
	/* 调整按钮内边距 */
	border: none;
	border-radius: 10rpx;
	/* 按钮圆角调整 */
	cursor: pointer;
	background-color: #687267;
	color: white;
	font-size: 28rpx;
	/* 按钮字体大小 */
}

.btn:active {
	background-color: #005bb5;
}